.var-type-text
    font-weight: bold

.var-name
    margin-left: 10px

.var-header
    display: flex
    align-items: flex-start
    background-color: PaleTurquoise

.var-body
    margin-top: 5px
    margin-bottom: 15px
    padding-left: 10px
    // border-top: 2px solid #708090
