.users-box
    margin-left: 20%
    margin-right: 20%
    margin-top: 20px


.user
    display: flex
    flex-direction: row       // элементы идут в строку (это значение по умолчанию)
    align-items: center        // выравнивание по центру по вертикали (опционально)
    gap: 8px                 // расстояние между элементами (опционально, но удобно)
    flex-wrap: wrap 
