.container
    margin-left: 20%
    margin-right: 20%
    margin-top: 5%
    margin-bottom: 10%

.project
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    height: 10vh

.project-button
    width: 80%
    padding-left: 1%
    border: 2px solid
    border-radius: 10px 0px 0px 10px
    border-color: gray transparent gray gray
    height: 100%
    &:hover
        background-color: darkgray
    &:active
        border-color: black transparent black black

.edit-button
    width: 20%
    place-content: center
    display: flex
    border: 2px solid
    height: 100%
    border-color: dodgerblue dodgerblue dodgerblue transparent
    border-radius: 0px 10px 10px 0px
    &:hover
        background-color: lightblue
    &:active
        border-color: blue blue blue transparent


.add-button
    width: 100%
    place-content: center
    display: flex
    border: 2px solid
    border-radius: 10px
    border-color: gray
    height: 10vh
    &:hover
        background-color: darkgray
    &:active
        border-color: black

