<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <link rel="stylesheet" th:href="@{/service/service_react.css}" />
</head>
<body>
<div id="react"></div>
<script type="text/javascript" th:src="@{/service/service.js}"></script>
<script th:inline="javascript">
        function getProjectId(){
            return [[${projectId}]] ;
        }

        function getServiceId(){
            return [[${serviceId}]] ;
        }
    </script>
</body>
</html>