<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worfklow</title>
    <link rel="stylesheet" th:href="@{/workflow/workflow_react.css}" />
</head>
<body>
    <div id="react"></div>
    <script type="text/javascript" th:src="@{/workflow/workflow.js}"></script>
    <script th:inline="javascript">
        function getProjectId(){
            return [[${projectId}]] ;
        }

        function getWorkflowId(){
            return [[${workflowId}]] ;
        }
    </script>
</body>
</html>